/*Radiance Default Styles*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');




/*0. General Rules*/

/*1. Typography*/
/*2. Layout frames (containers)*/
/*3. Flickity*/
/*4. Horizontal Scroll*/
/*5. Horizontal Parallax*/
/*6. Parallax vertical*/
/*7. expanding cards*/
/*8. Page transitions*/
/*9. Graph pluguin - chart.js*/
/*10. Datatable*/
/*11. Moving card on hover*/
/*12. Select2*/
/*13. Custom checkbox, radial*/



html{
  height: 100%;
}
body {
  height: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01em;
  font-family: 'Open Sans', sans-serif;
}



/*///////////////////////////////// 1. Typography /////////////////////////////////*/





/*///////////////////////////////// 2. Layout frames (containers) /////////////////////////////////*/


.content{
    width: 100%;
    max-width: 420px;
    height: 100%;
}


/*big screens*/

.nano-container,
.micro-container,
.mini-container,
.jumbo-container{
  width: 100%;
  position: relative;
  /*padding: 0 15px;*/
}

.nano-container{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.micro-container{
  max-width: 860px;
  margin-left: auto;
  margin-right: auto; 
}
.mini-container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.jumbo-container{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; 
}
@media screen and (max-width: 767px){
}
@media screen and (max-width: 920px){
}



/*content with footer and header delclaration in body*/

.has-header .content{
    /*padding-top: 50px;*/
}
.has-footer .content{
    /*padding-bottom: 50px;*/
}



.m-container
{
  width: 100%;
  position: relative;
  padding: 0 40px;
  margin: 0px 0 80px;
  white-space: initial;
}
.full-height .m-container{
  margin-top: 50px;
}

/*--------------------------------sidebar--------------------------------*/

.sidebar ul{
  padding-left: 0;
  list-style: none;
}

/*logo-bar*/
.logo-bar{
    padding: 11px 0;
    background: linear-gradient(to top, rgba(255,255,255,0),54%, rgba(255,255,255,1));
    height: 60px;    
}
.logo-bar .m-logo{
    height: 28px;
    text-align: center;
    display: block;
    margin: auto;
}

/*back button*/
.letsgoback{
    background-color: #fff;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: 15px 0 0 40px;
    vertical-align: middle;
    text-align: center;
    line-height: 34px;
    display: block;
}


/*family - utilities with list */

.family{
    padding-left: 0;
}
.family .child{
    display: inline-block;
}
.family .child .link{
    display: block;
    padding: 7px 10px;
    text-decoration: none;
}


/*top navigation*/



/*.top-nav{
  padding: 10px 80px;
  background-color: #fff;
}
@media screen and (max-width: 420px){
  .top-nav{
    padding: 8px 40px;
  }
  .top-nav .m-logo{
    height: 28px;
  }
}*/


/*---------------------------scroll with center align (need to check in ie and edge)--------------------------------*/

/*overall-height - 50px*/
.family.scroll-with-center-align{
    overflow: auto;
    padding: 6px 30px;
    white-space: nowrap;
    text-align: center;
    margin: auto;
    -ms-overflow-style: none; /* IE 11 */
    overflow: -moz-scrollbars-none /* Firefox */
    scrollbar-width: none; /* Firefox 64 */
}
.family.scroll-with-center-align::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}



/*full-height*/

.full-height{
    min-height: 100%;
    overflow-y: auto;
}


/*---------------------------horizontal scroll---------------------------*/

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE 11 */
    overflow: -moz-scrollbars-none /* Firefox */
    scrollbar-width: none; /* Firefox 64 */  
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.item {
    flex: 0 0 auto;
}






