
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/*

1. General Rules
2. Typography
3. 

*/






/* ********************************* 1. General Rules ********************************* */

/*@import url('https://fonts.googleapis.com/css?family=Work+Sans');*/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01em;  
}
/*dependencies wrt to variables*/

/*if there is bottom nav*/
/*@media screen and (min-width: 768px){*/
  body.has-bottom-nav .content-center-container > .content-center{
    margin-top: -180px;
  }
  
  body.has-sidebar-left-AA .nano-container ~ .sidebar{
    padding-left: 30px;
  } 


/*}*/

/* ********************************* 2. Typography ********************************* */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #2c2c2c;
  font-family: 'Poppins', sans-serif;  
}
h1 {
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.08px;
}
h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  margin-bottom: 50px;  
}
h3 {
  font-size: 27px;
  line-height: 35px;
}
h4 {
  font-size: 22px;
  line-height: 31.88px;
}
h5 {
  font-size: 18px;
  line-height: 25.88px;
}
p{
  font-size: 20px;
  color: #525252;
  margin-bottom: 40px;
  line-height: 1.7;
}

small,
.small {
  line-height: 18px;
  font-size: 14px;
}
h3 small,
h4 small,
h5 small {
  font-weight: 300;
}

@media (max-width: 1400px) {
  body,
  p {
    font-size: 13px;
    line-height: 20px;
  }
  h1 {
    font-size: 33px;
    line-height: 44px;
    letter-spacing: -0.08px;
  }
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 35.88px;
  }
  h4 {
    font-size: 18px;
    line-height: 33.88px;
  }
  h5 {
    font-size: 16px;
    line-height: 25.88px;
  }
  small,
  .small {
    font-size: 89%;
    line-height: 17px;
  }
}

/*text-combinations*/

/*.heading-two ~ .thin,
.heading-two ~ .row-under-heading-two{
  margin-top: -35px;
}*/



 /*main-menu*/

.main-menu .link-group{
  width: 25%;
  float: left;
}
.main-menu .article-group{
  width: 75%;
  float: left;
}
.main-menu .article-group .scroll-container{
  width: 100%;
  display: flex;
  overflow: auto; 
}
.main-menu .article-group .scroll-container::-webkit-scrollbar {
  display: none;
}
.main-menu .article-group .thumb-block{
  min-width: 27%;
  margin: 0 20px;
}
.main-menu .article-group .thumb-block:first-child {
  margin-left: 0px;
}




/* Links and related */

a {
  text-shadow: none !important;
  color: #584b8d;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
a:focus,
a:hover,
a:active {
  color: #6d5cae;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0 !important;
  text-decoration: none;
}
a[ng-click] {
  cursor: pointer;
}

.onpage-detail{
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding: 0 2px;
}

/*buttons*/

.btn-lined{
	background-color: #fff;
	border:1px solid #e6e6e6;
	color: rgb(0,125,164);
}
button.link-type{
  padding: 0;
  border-width: 0;
  background-color: transparent;
  color: #525252;
}
button.link-type:focus{
  outline: none;
}


/*margin and padding*/

/*.mt-5{
  margin-top: 40px;
}
.mt-6{
  margin-top: 48px;
}*/

/*font colors*/

.c-primary{
	color: #5d5d5d;
}
.c-secondary{
	color: #b1afaf;
}
.c-navyblue{
	color: #7474a9;
}


/* background colors */

.bg-grey-01{
	background-color: #FAFAFA;
}

/*flex-orientations*/

.content-center-container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;  
  -ms-flex-align: center!important;
  align-items: center!important;
}
.content-center-container > .content-center{
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;  
}




/*containers and related*/

/*content-begin*/
.content-begin{
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

/*specific-layout-containers*/

.nano-container{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.micro-container{
  width: 860px;
  margin-left: auto;
  margin-right: auto; 
}
.mini-container{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.jumbo-container{
  width: 1024px;
  margin-left: auto;
  margin-right: auto; 
}
@media screen and (max-width: 767px){
}
@media screen and (max-width: 920px){
}

/*dependencies*/

body.has-top-nav .content-begin{
  margin-top: 
}



/*.content-with-left-sidebar{
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.content-with-left-sidebar .sidebar{
  float:left;
}
*/

 

/*cover banner*/
/*.cover-image{
  width:100%;
}
.cover-image > img{
  width:100%;
  border-radius: 14px;
}*/


/*white-shade-box*/

.white-shade-box{
  position: absolute;
  width: 100%;
  background: linear-gradient(to right,white,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,white 95%);
  z-index: 100; 
}



/* form content */


.form-content {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;  
}
.floating-form {
  position: relative;
  margin-bottom: 1rem;
  border-radius: .15rem;
  /*border-bottom: 1px solid #ddd;    */
}
.floating-form > input{
  border-color: transparent;
  border-bottom-color: #ddd; 
  border-width: 1px;
  transition: all .1s ease;
}
.floating-form > input,
.floating-form > label {
  height: 3.125rem;
  padding: .75rem 0;
  width: 100%;
}
.floating-form > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; 
  line-height: 1.7;
  pointer-events: none;
  color: #949494;
  border: 1px solid transparent;
  border-radius: .12rem;
  transition: all .1s ease-in-out;
  font-size: 1rem;
}
.floating-form input::-webkit-input-placeholder {
  color: transparent;
}
.floating-form input:-ms-input-placeholder {
  color: transparent;
}
.floating-form input::-ms-input-placeholder {
  color: transparent;
}
.floating-form input::-moz-placeholder {
  color: transparent;
}
.floating-form input::placeholder {
  color: transparent;
}
.floating-form input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.floating-form input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
.floating-form input.error{
  border-bottom-color: #f55753;
  font-size: 14px;
  color: #000; 
}
/*.validation-message{
  display: none;
  position: absolute;
  top: 50px;
  z-index: 1;
  background: #fbfbfb;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 8px;
  color: #5d5d5d;
  font-size: 14px;
}*/


/* section inside form */
form > section{
  margin-top: 4.0rem;
}
form > section:first-child{
  margin-top: 0;
}



/* nav */


nav button{
  margin-left: 20px;
}
/*nav link styles*/
nav span.link{
  display: inline-block;
}
nav span.link a:hover{
  text-decoration: none;
}
nav span.link a:focus{
  outline: none;
}


/* table */


.table-format tbody tr{
	/*padding: 6px 0;*/
	line-height: 1.6;
  -webkit-transition: all .1s; 
  transition: all .1s;
}
.table-format td,
.table-format th{
	padding: 8px 15px;
}
.table-format td:first-child{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.table-format td:last-child{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.table-format tbody td:not(:first-child){
	color: #5d5d5d;
}
.table-format tbody tr:hover td{
	background-color: #f9f9f9;
}


/*note*/


.note{
  font-size: 15px;
  /*font-style: italic;*/
}
.note .note-head{
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
  color: blue
}


/* moving-background */


.moving-background-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.moving-background-wrap h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 7vmin;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.moving-background-wrap .moving-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: -1;*/
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/167792/mountains_copy.jpg") no-repeat center center;*/
  background-size: cover;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*dependencies with other utilities*/
@media screen and (min-width: 992px){
  .scrolling-section-wrap .section{
    /*margin-top: -35px; */
  }
}


/* ********************************* PLUGINS ********************************* */


/* custom checkbox */


.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 0px;
  cursor: pointer;
  height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 21px;
  height: 21px;
  margin-top: 1px;
}
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;    
}
.checkbox-wrap .custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #f9f9f9;
  border: 1px solid #f7f6f6;
  border-radius: 50%;     
}
.checkbox-wrap input:checked ~ .custom-checkbox {
  background-color: #2196F3;
  border-color: #2196F3;         
}
.checkbox-wrap .custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-wrap input:checked ~ .custom-checkbox:after {
  display: block;
}
.checkbox-wrap .custom-checkbox:after {
  left: 7px;
  top: 3.4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* select2 */


.select2-search input{
  border-bottom-color: #ced4da; 
  background-image: linear-gradient(white, white);
}
.select2-container .select2-choice{
  height: auto;
  line-height: 40px;
  background-image: linear-gradient(white, white);
  border-color: #ced4da;
}
.select2-drop-active{
  border-color: #ced4da;
}
.select2-results li.select2-result-with-children > .select2-result-label{
  font-weight: 500;
}
.select2-results .select2-result-label{
  padding: 3px 4px 4px;
}
.select2-results .select2-result-sub .select2-result-label:hover{
  color: #7386D5;
}
.select2-results .select2-highlighted{
  background-color: transparent;
  color: #7386D5;
}
.select2-results li:hover{
  background-color: transparent;
}


/* datatable */


/* dataTables_wrapper */
.dataTables_wrapper{
  margin-bottom: 3rem;
  position: relative;
}
.dataTables_wrapper .dataTables_filter{
  text-align: right;
  padding-right: 20px;
}
.dataTables_wrapper .dataTables_filter label{
  margin-bottom: 1.5rem;
}
.dataTables_wrapper .dataTables_filter input{
  border:none;
  border-bottom: 1px solid #ced4da;
  margin-left: -50px;
  padding-bottom: 5px;
}
.dataTables_wrapper .dataTables_filter input:focus{
  border-bottom-color: #80bdff;
}
.dataTables_wrapper .dataTable.dataTable-left-intent tr:hover td:first-child{
  background-color: transparent;
}
.dataTables_wrapper .dataTable.dataTable-left-intent tr td:nth-child(2){
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
/* dataTable */
.dataTables_wrapper .dataTable{
  position: relative;
  width: 100%;
}
.dataTables_wrapper .dataTable thead tr th{
  padding: 15px 15px;
}
.dataTables_wrapper .dataTable.dataTable-left-intent{
  width: calc(100% + 50px)!important;
  margin-left: -53px;
}
.dataTables_wrapper .dataTable.dataTable-left-intent th:first-child,
.dataTables_wrapper .dataTable.dataTable-left-intent td:first-child{
    padding-left: 0;
}
/*dataTables_info*/
.dataTables_wrapper .dataTables_info{
	margin-top: 1rem;
}
/*pagination*/
.dataTables_wrapper .dataTables_paginate{
  position: absolute;
  bottom: 0;
  right: 15px;
}
.dataTables_wrapper .dataTables_paginate span > .paginate_button{
  display: inline-block;
  padding: 0 3px;
  margin: 0 2px;	
}
/*checkbox inside datatable*/
.dataTables_wrapper .dataTable tr:hover .checkbox-wrap input ~ .custom-checkbox {
    border-color: #ccc;
}
.dataTables_wrapper .dataTable tr:hover .checkbox-wrap input:checked ~ .custom-checkbox {
    border-color: #2196F3;
}


/* flickity */


.flickity-carousel .flickty-cell{
	/*opacity: 0;*/
  /*display: block;*/
  height: 600px;
  width: 100%;
  /*height: 100%;*/
  /*max-height: 100%;*/
  /*max-width: 100%;*/
}
.flickity-carousel .flickty-cell  img{
  max-width: 100%;
}
.flickity-slider{
  /*opacity: 0;*/
}
.flickity-caption {
  background: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
}
.flickity-page-dots {
  bottom: -60px;
}
.flickity-viewport{
	background-color: #fff;
}
/*visible overflow carousel */
.flickity-carousel.visible-overflow > .flickity-viewport{
	/*overflow: visible;*/
}
@media screen and ( min-width: 768px ) {
  .flickity-carousel .flickty-cell {
    /*height: 400px;*/
  }
}


/* owl carousel */


.owl-carousel .item{
  height: 300px;
  width: auto!important;
}
.owl-carousel .item > img{
  height: 100%;
  width: auto;
}




/*card*/

.normal-card-container{
  margin-top: 80px;
}
.normal-card-container .card{
  border-radius: 14px;
  /*background-color: #fdfafa;*/
  width: 140px;
  height: 120px;
  margin: 0 15px;
  overflow: hidden;
}
.normal-card-container .card .card-title{
  font-size: 20px;
}

.normal-card-container .white-shade-box{
  height: 120px;
}


/*isotope*/

.isotope-container{
  /*background: #f2f2f2;*/
  display: block;
  clear: both;
  width: 90%;
  margin: 70px auto auto;
}
.isotope-container:after {
  content: '';
  display: block;
  clear: both;
}
.isotope-sizer,
.isotope-item {
  width: 50%;
  padding: 20px;
}
.isotope-item {
  float: left;
}
.isotope-item img {
  display: block;
  max-width: 100%;
  border-radius: 14px;
}


/*main-menu*/


@media screen and (min-width: 768px){
  .main-menu{
    display: -ms-flexbox!important;
    display: flex!important;	
    -ms-flex-align: center!important;
    align-items: center!important;	
  }
  .main-menu .menu-item{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .main-menu .dropup {
    position:static;
  }
  .main-menu .dropup .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    top:45px;  /*  height of nav-item  */
    display:block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;  
    padding: 30px;
    border-color: #efecec;
  }
  .main-menu .dropup .dropdown-menu.show {
  	opacity: 1;
  	visibility: visible;
  	top: -13px!important;
    left: 5px!important;
  }
}



/* ********************************* MENUS ********************************* */


/*top-nav*/


.top-nav{
	position: fixed;
	height: 90px;
	top: 0;
	left: 0;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	/*border-bottom: 1px solid #f2f2f2;*/
	background-color: #fff;
	z-index: 999;
	overflow: hidden;
	/*-webkit-box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);*/
  	/*box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);	*/
}
.top-nav .nav-content{
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media screen and (min-width: 960px){
	.top-nav .nav-content{
		max-width: 860px;
	}
}
.top-nav .nav-left{
	float: left;
	width: 40%;
	/*opacity: 0;*/
}
.top-nav .nav-center{
	position: absolute;
	/*center width and position is client specific*/
	/*margin-left: calc(50% - 28px);*/
}
.top-nav .nav-right{
	float: right;
	width: 60%;
	height: 100%;
	text-align: right;
}


/* drop-menu */


.drop-menu{
	position: fixed;
  /*height: 70px;*/
  top: 90px;
  left: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  /* border-bottom: 1px solid #f2f2f2; */
  background-color: #fff;
  z-index: 1001;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 16px 32px 0 rgba(62,57,107,0.1);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.08);
}
.drop-menu .drop-menu-content{
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}
@media screen and (min-width: 960px){
	.drop-menu .drop-menu-content{
		max-width: 960px;
	}
}
.drop-menu .drop-menu-content .drop-menu-item{
	margin-bottom: 20px;
	flex-direction: column;
}
.drop-menu .drop-menu-content .drop-footer{
	height: 60px;
}


/* bottom-nav */


.bottom-nav{
	position: fixed;
	height: 90px;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #efecec;
	background-color: #fff;
	z-index: 1001;	
}
.bottom-nav > .mini-container{
	height: 100%;
}
.bottom-nav .dropdown.show {
  position: static;
}
.bottom-nav .dropdown.show .dropdown-menu {
  display: table;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
}
.bottom-nav .dropdown .dropdown-menu > .drop-menu-item {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .bottom-nav .dropdown > .drop-menu-item {
    display: block;
  }
}

/*launch-pad*/

.launch-pad{
	width: 100%;
	height: 100%;
	padding-top: 40px;	
}
.launch-pad .upfront,
.launch-pad .secondary{
	width: 700px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;		
}
.launch-pad .launch-pad-links{
	list-style: none;
	padding-left: 0;
}
.launch-pad .launch-pad-links{
	height: 480px;
}
.launch-pad .link-name{
	padding-top: 15px;
  font-size: 14px;
  padding-bottom: 20px;
}
.launch-pad .launch-pad-links li a{
	margin-bottom: 10px;
	color: #525252;
	display: inline-block;
	text-decoration: none;
}


/* sidebar */


.sidebar {
  width: 160px;
  /*height: 80vh;*/
  /*z-index: 999;*/
  /*background-color: #fff;*/
  transition: all 0.3s;
}
.sidebar .sidebar-header {
  padding: 10px 0;
  /*font-weight: bold;*/
}
.sidebar .menu-list li{
  padding-left: 0;
}
.sidebar .menu-list > li > a{
	color:#5d5d5d;
  padding: 9px 0px;
  display: block;	
  transition: all 0.3s;  
  font-size: 16px;
}
.sidebar .menu-list li a:hover{
  color: #7386D5;
  text-decoration: none;
}
.sidebar .menu-list li > a.active {
  background-color: #e5f4ff;
	color:#5d5d5d;
}
.sidebar .menu-list li ul li a{
	color:#5d5d5d;
  padding: 9px 0px 9px 0px;
  display: block;		
  font-size: 16px;  
}
a[data-toggle="collapse"] {
  position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
  display: none;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}

/*sidebar fixed sticky */    

.sidebar.sidebar-sticky-left{
  position: fixed;
  top: 130px; 
  left: 40px;
}



/*sidebar with scrollspy*/      /*test this*/
.sidebar.scrollspy .menu-list li > a.active {
  background-color: transparent;
  color: #7386D5;
	/*color:#5d5d5d;*/
}


.sidebar-inside-content-right{    /*test this*/
  position: fixed;
  left: calc(50% + 350px);
  margin-top: 0px;
}




/* test and edit */

/*top-page*/
.top-page{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: -1;
	height: 100%;
}
/*overlay-page - built for modal?*/
.overlay-page{
  position: fixed;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slidefromright{
  opacity: 0;
}
.top-page.slidefromright{
  opacity: 1;
  z-index: 0;
}

/*transform and animation*/

.animation-delay {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.scaleDown {
  -webkit-animation: scaleDown .6s ease both;
  animation: scaleDown .6s ease both;
}

@-webkit-keyframes scaleDown {
  from { opacity:1; -webkit-transform: scale(1); }
  to { -webkit-transform: scale(0.96); }
}
@keyframes scaleDown {
  from { opacity:1; -webkit-transform: scale(1); transform: scale(1); }
  to {-webkit-transform: scale(0.96); transform: scale(0.96);}
}

.slidefromright {
  -webkit-animation: slidefromright .7s ease both;
  animation: slidefromright .7s ease both;
}
@-webkit-keyframes slidefromright {
  from { -webkit-transform: translateX(100%); }
}
@keyframes slidefromright {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.scaleUp {
  -webkit-animation: scaleUp .6s ease both;
  animation: scaleUp .6s ease both;
}

@-webkit-keyframes scaleUp {
  from { opacity:1; -webkit-transform: scale(0.96); }
  to { -webkit-transform: scale(1); }
}
@keyframes scaleUp {
  from { opacity:1; -webkit-transform: scale(0.96); transform: scale(0.96); }
  to {-webkit-transform: scale(1); transform: scale(1); }
}

.slidetoright {
  -webkit-animation: slidetoright .7s ease both;
  animation: slidetoright .7s ease both;
}
@-webkit-keyframes slidetoright {
  to { -webkit-transform: translateX(100%); }
}
@keyframes slidetoright {
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}


