/*Theme styles including the products*/ 

/*@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');*/



/*1. Typography*/

h1,
h2,
h3,
h4,
h6 {
  /*margin-bottom: 20px;	*/
  font-weight: 600;
  color: #2c2c2c;
  /*font-family: 'Poppins', sans-serif;	*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
h1 {
  font-size: 100px;
  line-height: 1.4;
  letter-spacing: -0.08px;
}
h2 {
  font-size: 40px;
  line-height: 1.3;
}
h3 {
  font-size: 27px;
  line-height: 1.4;
  margin-bottom: 12px;
}
h4 {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 14px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 14px;
}
p{
  font-size: 15px;
  color: #525252;
  margin-bottom: 28px;
  line-height: 1.5;
}

.small{
    font-size: 14px;
}


/*active-content-area*/

.active-content-area{    
    height: 100%;
}
.with-footer{
    padding-bottom: 70px;
}


/*individual utilities*/




/*.first-cont{
    margin-top: 90px;
}*/

.normalize-container{
    margin-left: -40px;
    margin-right: -40px;
    padding: 0px 20px;
    margin-bottom: 28px;
}


/*rounded corners*/
.rounded{
    border-radius: .5rem!important;
}
.rounded-top{
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
}


/*Full page carousel with carousel based navigation*/


/*--------------------------------main carousel--------------------------------*/


.carousel-fullpage {
	width: 100%;
	height: 100%;
	/*margin-right: 30px;*/
}
.carousel-fullpage .carousel-cell{
    height: 100%;
    width: 100%;
}
/*.carousel-fullpage > img{
	object-fit: cover;
	height: 100%;
	width:100%;
}*/

/*selection-card*/
.selection-cards .carousel-cell {
	width: 255px;
	height: 180px;    
}
.selection-cards .carousel-cell.is-nav-selected {
  /*something*/
}
.selection-cards .carousel{
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*--------------------------------carousel-nav--------------------------------*/

.carousel-nav{
	padding: 20px 16px;
	height: 80px;
	background-color: #fff;
}
.carousel-nav .carousel-cell{
	margin-right: 0;
}
.carousel-nav .carousel-cell .nav-link{

}



/*scrolling-wrapper*/

/*general*/

.scrolling-wrapper{
    margin: 0 -10px;
}
.scrolling-wrapper .title{
    padding: 0 20px 20px; 
}
.scrolling-wrapper .desc{
    padding: 20px 20px 0px;
    font-size: 16px;
}

/*per-50*/
.per-50.scrolling-wrapper .item {
    width: 50%;
    padding: 0 10px;
}
/*per-70*/
.per-70.scrolling-wrapper .item {
    width: 70%;
    padding: 0 10px;
}

/*--------------------------------selection-cards only for cards--------------------------------*/


.selection-cards .card
{
	width: 170px;
    height: 170px;
    margin-right: 40px;
    border-radius: 27px;
}
.selection-cards .card-title{
	font-size: 22px;
}


/*--------------------------------selection-cards only for cards--------------------------------*/


.launcher-cards{
	padding-bottom: 80px;
	min-height: 100%;
}
.launcher-cards .card
{
	width: 85px;
    margin: 35px 45px;
    background-color: transparent;
    border:none;
}
.launcher-cards .card-body{
	padding: 0;
}
.launcher-cards .card-title{
	font-size: 16px;
	color: #333;
	margin-top: 15px;
}



.cluster-widget{
    overflow: hidden;
}
.cluster-widget .cluster-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.cluster-widget .cluster-row .cluster-col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.cluster-widget .cluster-row .cluster-col:first-child{
    padding-right: 10px;
}
.cluster-widget .cluster-row .cluster-col:last-child{
    padding-left: 10px;
}
.cluster-widget .cluster-row + .cluster-row{
    margin-top: 20px;
}




/*-----------------------------------modal-----------------------------------*/

/*zoom in*/

.modal.zoom-in{
	opacity: 0;
	left: 0;
	height: 100%;
	width:100%;
	background-color: #fff;
    /*transition: all .6s!important;
    -webkit-transition: all .6s!important;	*/
}
.modal.zoom-in.show{
	display: flex!important;
	opacity: 1;
}
.modal.zoom-in .modal-dialog{
	opacity: 0;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
    /*-webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);   
    transition: all 0s!important;
    -webkit-transition: all 0s!important;*/

	/*height: calc(100% - 80px);*/
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}
.modal.zoom-in.show .modal-dialog{
	opacity: 1;
    /*-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);*/
}


/*----------------------------- slide from below -----------------------------*/


/*normal definition*/

.modal.slide-from-below{

}
.modal.slide-from-below .modal-dialog{
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -ms-transform: translate(0, 100%);    
    transition: all .15s linear!important;
    position: absolute;
    bottom: 50px;
}
.modal.show.slide-from-below .modal-dialog{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
}
.modal.slide-from-below .modal-dialog .modal-content > div{
    transition: all .26s linear!important;
    opacity: 0;    
    display: none; 
    position: absolute;
    bottom: 0;
    background-color: #fff;   
}
.modal.show.slide-from-below .modal-dialog .modal-content > div{
    /*opacity: 1;*/
}

/*use case*/

/*when modal is menu-modal*/
.menu-modal .modal-backdrop.show{
    opacity: .4;
}





/*common*/

.modal-content{
	border: none;
    border-radius: 0;
    /*opacity: 0;*/
/*	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0*/;	
}
.modal .modal-dialog{
    margin: auto;
}


/*to set for zoomin*/
.modal-backdrop{
	/*background-color: #fff;
	opacity: 0!important;*/
	/*-webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;*/
}
.modal-backdrop.show{

}



.scroll-for-detail{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    left: 0;
    overflow-y: scroll;
}
.scroll-for-detail > div{
    height: 180px;
    width: 100%;
}







/*menu*/

/*bottom-navbar*/
.bottom-navbar{
	z-index: 1051;
	background: #fbf8f8;
}

/*launcher-menu*/



/*detail page*/


.in-detail{

}
@media screen and (max-width: 420px){
    .in-detail{

    }
    .in-detail .fw-image-cover{
        margin-bottom: 24px;
    }    
}



/************************* only in mobile elements **************************/

.fw-image-cover{
    margin-left:-40px;
    margin-right:-40px;
    padding: 0px 20px;
}




/*Page Wise*/

.about h2{
    background: -webkit-linear-gradient(45deg, #ff8e8e, #889cfd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.column-count-1{
    -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    column-count: 1!important;
}
.column-count-2{
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
}
.column-count-3{
    -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
}

.box-link.card-columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 20px;
    orphans: 1;
    widows: 1;    
}
.box-link .card{
    margin: 0 0px 20px 0;
    background: #f5f5f5;
    border-radius: 15px;
    font-size: 16px;
    display: inline-block;
    border: none;
}
.box-link .link{
    display: block;
    padding: 6px 12px;
    color: #3c3c3c;
    font-size: 14px;
}
