/*Theme styles including the products*/ 

/*@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');*/



/*1. Typography*/

h1,
h2,
h3,
h4,
h6 {
  /*margin-bottom: 20px;	*/
  font-weight: 600;
  color: #2c2c2c;
  /*font-family: 'Poppins', sans-serif;	*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
h1 {
  font-size: 100px;
  line-height: 1.4;
  letter-spacing: -0.08px;
}
h2 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 24px;
}
h3 {
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 18px;
}
h4 {
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: 0.01px;
}
h5 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 18px;
}
p{
  font-size: 17px;
  color: #525252;
  margin-bottom: 25px;
  line-height: 1.7;
}

.small{
    font-size: 14px;
    /*margin-bottom: 21px;*/
}


header{
}

/*active-content-area*/

.active-content-area{    
    height: 100%;
}
.with-footer{
    padding-bottom: 70px;
}


/*individual utilities*/




.first-cont{
    margin-top: 80px;
}

.normalize-container{
    margin-left: -40px;
    margin-right: -40px;
    padding: 0px 20px;
    margin-bottom: 32px;
}
.full-width-container{
    margin-left: -40px;
    margin-right: -40px;    
    margin-bottom: 32px;
}

/*rounded corners*/
.rounded{
    border-radius: .5rem!important;
    overflow: hidden;
    background-color: #f7f7f7;
}
.rounded-top{
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
    overflow: hidden;    
}

/*cover image*/

.img-cover{
    object-fit: cover;
}


/*image sizes presets*/

.img-s1{
    height: 300px;
    /*background-color: #f7f7f7;*/
}
.img-s2{
    height: 180px;
    /*background-color: #f7f7f7;*/
}
.img-s3{
    height: 340px;
    /*background-color: #f7f7f7;*/
}

/*Page loading Parms*/

/*not in use now*/
.default-load-only-visbile,
.view2-load-only-visbile
.view3-load-only-visbile{
    visibility: hidden;
}




/*Full page carousel with carousel based navigation*/


/*--------------------------------main carousel--------------------------------*/


.carousel-fullpage {
	width: 100%;
	height: 100%;
	/*margin-right: 30px;*/
}
.carousel-fullpage .carousel-cell{
    height: 100%;
    width: 100%;
}
/*.carousel-fullpage > img{
	object-fit: cover;
	height: 100%;
	width:100%;
}*/

/*selection-card*/
.selection-cards .carousel-cell {
	width: 255px;
	height: 180px;    
}
.selection-cards .carousel-cell.is-nav-selected {
  /*something*/
}
.selection-cards .carousel{
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*--------------------------------carousel-nav--------------------------------*/

.carousel-nav{
	padding: 20px 16px;
	height: 80px;
	background-color: #fff;
}
.carousel-nav .carousel-cell{
	margin-right: 0;
}
.carousel-nav .carousel-cell .nav-link{

}


/*image containers*/

.img-intro{
    height: 28s0px;
    width:100%;
}


/*scrolling-wrapper*/

/*general*/

.scrolling-wrapper{
    margin: 0 -10px;
}
.scrolling-wrapper .title{
    padding: 0 20px 20px; 
}
.scrolling-wrapper .desc{
    padding: 15px 20px 0px;
    font-size: 15px;
    line-height: 1.6;
}

/*per-50*/
.per-50.scrolling-wrapper .item {
    width: 50%;
    padding: 0px 10px;
}
/*per-70*/
.per-70.scrolling-wrapper .item {
    width: 70%;
    padding: 0px 10px;
}

/*--------------------------------selection-cards only for cards--------------------------------*/


.selection-cards .card
{
	width: 170px;
    height: 170px;
    margin-right: 40px;
    border-radius: 27px;
}
.selection-cards .card-title{
	font-size: 22px;
}


/*--------------------------------selection-cards only for cards--------------------------------*/


.launcher-cards{
	padding-bottom: 80px;
	min-height: 100%;
}
.launcher-cards .card
{
	width: 85px;
    margin: 35px 45px;
    background-color: transparent;
    border:none;
}
.launcher-cards .card-body{
	padding: 0;
}
.launcher-cards .card-title{
	font-size: 16px;
	color: #333;
	margin-top: 15px;
}



.cluster-widget{
    overflow: hidden;
}
.cluster-widget .cluster-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.cluster-widget .cluster-row .cluster-col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.cluster-widget .cluster-row .cluster-col:first-child{
    padding-right: 2px;
}
.cluster-widget .cluster-row .cluster-col:last-child{
    padding-left: 2px;
}
.cluster-widget .cluster-row + .cluster-row{
    margin-top: 4px;
}




/*-----------------------------------modal-----------------------------------*/

/*zoom in*/

.modal.zoom-in{
	opacity: 0;
	left: 0;
	height: 100%;
	width:100%;
	background-color: #fff;
    /*transition: all .6s!important;
    -webkit-transition: all .6s!important;	*/
}
.modal.zoom-in.show{
	display: flex!important;
	opacity: 1;
}
.modal.zoom-in .modal-dialog{
	opacity: 0;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
    /*-webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);   
    transition: all 0s!important;
    -webkit-transition: all 0s!important;*/

	/*height: calc(100% - 80px);*/
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}
.modal.zoom-in.show .modal-dialog{
	opacity: 1;
    /*-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);*/
}


/*----------------------------- slide from below -----------------------------*/


/*normal definition*/

.modal.slide-from-below{

}
.modal.slide-from-below .modal-dialog{
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -ms-transform: translate(0, 100%);    
    transition: all .15s linear!important;
    position: absolute;
    bottom: 50px;
}
.modal.show.slide-from-below .modal-dialog{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
}
.modal.slide-from-below .modal-dialog .modal-content > div{
    transition: all .26s linear!important;
    opacity: 0;    
    display: none; 
    position: absolute;
    bottom: 0;
    background-color: #fff;   
}
.modal.show.slide-from-below .modal-dialog .modal-content > div{
    /*opacity: 1;*/
}

/*use case*/

/*when modal is menu-modal*/
.menu-modal .modal-backdrop.show{
    opacity: .4;
}





/*common*/

.modal-content{
	border: none;
    border-radius: 0;
    /*opacity: 0;*/
/*	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0*/;	
}
.modal .modal-dialog{
    margin: auto;
}


/*to set for zoomin*/
.modal-backdrop{
	/*background-color: #fff;
	opacity: 0!important;*/
	/*-webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;*/
}
.modal-backdrop.show{

}



.scroll-for-detail{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    left: 0;
    overflow-y: scroll;
}
.scroll-for-detail > div{
    height: 180px;
    width: 100%;
}







/*menu*/

/*bottom-navbar*/
.bottom-navbar{
	z-index: 1051;
	background: #fbf8f8;
}

/*launcher-menu*/



/*detail page*/


.in-detail{

}
@media screen and (max-width: 420px){
    .in-detail{

    }
    .in-detail .fw-image-cover{
    }    
}



/************************* only in mobile elements **************************/

.fw-image-cover{
    margin-left:-40px;
    margin-right:-40px;
    padding: 0px 20px;
    margin-bottom: 30px;

}




/*Page Wise*/

.about h2{
    background: -webkit-linear-gradient(45deg, #ff8e8e, #889cfd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.column-count-1{
    -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    column-count: 1!important;
}
.column-count-2{
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
}
.column-count-3{
    -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
}

.box-link.card-columns{
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 20px;
    orphans: 1;
    widows: 1;    
}
.box-link .card{
    margin: 0 0px 20px 0;
    background: #f5f5f5;
    border-radius: 15px;
    font-size: 16px;
    display: inline-block;
    border: none;
}
.box-link .link{
    display: block;
    padding: 6px 12px;
    color: #3c3c3c;
    font-size: 14px;
}


/*Fullpage Customizaion for mobile*/


html.fp-enabled, .fp-enabled body{
    margin: 0 auto;
}
.fp-container{
    width: 100%;
    position: relative;
    padding: 0 40px;    
}





/*Parallax-Push*/

.view-port {
  position: relative;
  width: 100%;
  height: calc(100%);
  display: block;
  white-space: nowrap;
  word-spacing: 0;
  font-size: 0;
  overflow: hidden;
  overflow-y: auto;
}
.view-port > * {
  font-size: initial;
}
.view-port .navbar {
  border-radius: 0;
  padding-left: 0;
  margin-bottom: 0;
  border-left: 0;
  display: table;
  width: 100%;
  top: 0;
  border-top: 0;
}
.view-port .navbar .navbar-inner {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}
.view-port .navbar .action {
  position: absolute;
  top: 0;
  line-height: 50px;
  z-index: 1;
}
.view-port .navbar .action.pull-right {
  right: 0;
}
.view-port .navbar .view-heading {
  font-size: 15px;
  text-align: center;
}
.view-port .navbar > p {
  line-height: 12px;
  font-size: 12px;
  margin: 0;
}
.view-port .navbar.navbar-sm {
  min-height: 35px;
}
.view-port .navbar.navbar-sm .navbar-inner {
  height: 35px;
}
.view-port .navbar.navbar-sm .action {
  line-height: 35px;
}
.view-port .view {
  display: inline-block;
  width: 100%;
  height: calc(100%);
  vertical-align: top;
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  -webkit-perspective: 1000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow-y: auto;
}
.view-port .view:first-child:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: -1;
}
.view-port .view:only-child {
  margin: 0;
}
.view-port.from-top > .view:last-child {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -ms-transform: translate(-100%, 0);
}
.view-port.push > .view:first-child {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -ms-transform: translate(-100%, 0);
}
.view-port.push > .view:last-child {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -ms-transform: translate(-100%, 0);
}
.view-port.push-parrallax > .view:first-child {
  -webkit-transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
  transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
  -ms-transform: translate(-25%, 0);
}
.view-port.push-parrallax > .view:first-child:before {
  opacity: 0;
  z-index: 100;
}
.view-port.push-parrallax > .view:last-child {
  -webkit-transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
  transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -ms-transform: translate(-100%, 0);
  /*box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);*/
}

/*child detail page*/
.view-container{
    /*width: 100%;
    height: 100%;*/
}


.letsgotofirst,
.letsgotosec{
    -webkit-transition: visibility 0s ease-out 180ms, opacity 180ms;
    transition: visibility 0s ease-out 180ms, opacity 180ms;
    opacity: 1;
}
.letsgotofirst.invisible,
.letsgotosec.invisible{
    opacity: 0;
}







/*Page Transitions*/

.top-page{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.top-page > .top-page-wrap{
    /*height: 100%;  */
    overflow: auto;
}
.top-page.page-on-top{
    z-index: 1000;
    opacity: 1;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    overflow: -moz-scrollbars-none /* Firefox */
    scrollbar-width: none; /* Firefox 64 */      
}
.top-page.page-on-top::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.default-page.fadeOut{
    opacity: 0;
}
.top-page.fadeOut{
    opacity: 0;
}


.default-page.fadeOut{
    opacity: 0;
}


/*Animations*/

.animation-delay {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.Zoomout {
    -webkit-animation: zoomout .35s ease both;
    animation: zoomout .35s ease both;
}
@-webkit-keyframes zoomout {
    from {  -webkit-transform: scale(1); }
    to { opacity:1; -webkit-transform: scale(0.98); }
}
@keyframes zoomout {
    from {-webkit-transform: scale(1); transform: scale(1);}
    to { opacity:1; -webkit-transform: scale(0.98); transform: scale(0.98); }
}

.Zoomin {
    -webkit-animation: zoomin .45s ease both;
    animation: zoomin .45s ease both;
}
@-webkit-keyframes zoomin {
    from {opacity:1;  -webkit-transform: scale(0.98); }
    to { opacity:1; -webkit-transform: scale(1); }
}
@keyframes zoomin {
    from {opacity:1; -webkit-transform: scale(0.98); transform: scale(0.98);}
    to { opacity:1 ; -webkit-transform: scale(1); transform: scale(1); }
}

.page-scaleUpfromHide {
    -webkit-animation: scaleUpp .35s ease both;
    animation: scaleUpp .35s ease both;
}

@-webkit-keyframes scaleUpp {
    from { -webkit-transform: scale(0.98); }
    to { opacity:1; -webkit-transform: scale(1); }
}
@keyframes scaleUpp {
    from {-webkit-transform: scale(0.98); transform: scale(0.98);}
    to { opacity:1; -webkit-transform: scale(1); transform: scale(1); }
}

.pt-page-moveFromRight {
    -webkit-animation: moveFromRight .45s ease-out both;
    animation: moveFromRight .45s ease-out both;
}
@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.pt-page-movetoRight {
    -webkit-animation: movetoRight .45s ease-out both;
    animation: movetoRight .45s ease-out both;
}
@-webkit-keyframes movetoRight {
    from { }
    to { -webkit-transform: translateX(100%); }
}
@keyframes movetoRight {
    from { }
    to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}



